<template>
    <base-container v-if="user">
        <h2>{{ user.fullName }}: Projects</h2>
        <base-search
            v-if="hasProjects"
            @search="updateSearch"
            :search-term="enteredSearchTerm"
        ></base-search>
        <ul v-if="hasProjects">
            <project-item
                v-for="prj in availableProjects"
                :key="prj.id"
                :title="prj.title"
            ></project-item>
        </ul>
        <h3 v-else>No projects found.</h3>
    </base-container>
    <base-container v-else>
        <h3>No user selected.</h3>
    </base-container>
</template>

<script>
import ProjectItem from './ProjectItem.vue';
import { ref, computed, watch, toRefs } from 'vue';

export default {
    components: {
        ProjectItem,
    },
    props: ['user'],
    setup(props) {
        const enteredSearchTerm = ref('');
        const activeSearchTerm = ref('');

        const hasProjects = computed(function () {
            return props.user.projects && availableProjects.value.length > 0;
        });
        const availableProjects = computed(function () {
            if (activeSearchTerm.value) {
                return props.user.projects.filter((prj) =>
                    prj.title.includes(activeSearchTerm.value)
                );
            }
            return props.user.projects;
        });
        function updateSearch(val) {
            enteredSearchTerm.value = val;
        }

        watch(enteredSearchTerm, function (val) {
            setTimeout(() => {
                if (val === enteredSearchTerm.value) {
                    activeSearchTerm.value = val;
                }
            }, 300);
        });
// Since previously we were watching props.user (which is not reactive, but it'just a value initially set to null)
// We get console error for watching a null value. Watch works with reactive stuff, like ref, reactive, variables, etc, not with set values
// That are non-reactive. In order to fix this, we have to set the watcher to watch for changes into props instead of props.user.
        //watch(props.user, function(){
        //    enteredSearchTerm.value = '';
        //})

// However this also is not convenient, because if you have more than one prop, any change to any prop will trigger this watcher, which is not optimal
        //watch(props, function(){
        //    enteredSearchTerm.value = '';
        //})

// In order to do this properly, we have to import toRefs and transform the props properties, into reactive refs, as learned before.
        // const propsWithRefs = toRefs(props)
        // const user = propsWithRefs.user - we can do it this way as well, but to be more modern,  lets use object destructuring, which will replace
        // the above two lines with one, which basically takes the user key from the props object, and because of the toRefs method, it now that will be
        // a ref as well and it will store that in a constant of the same name.
        const { user } = toRefs(props)
        watch(user, function(){ // and now we can use only user as dependancy for this watcher.
            enteredSearchTerm.value = '';
        })
        return {enteredSearchTerm, activeSearchTerm, hasProjects, availableProjects, updateSearch}
    },
   //  data() {
   //      return {
   //          enteredSearchTerm: '',
   //          activeSearchTerm: '',
   //      };
   //  },
   //  computed: {
   //      hasProjects() {
   //          return this.user.projects && this.availableProjects.length > 0;
   //      },
   //      availableProjects() {
   //          if (this.activeSearchTerm) {
   //              return this.user.projects.filter((prj) =>
   //                  prj.title.includes(this.activeSearchTerm)
   //              );
   //          }
   //          return this.user.projects;
   //      },
   //  },
   //  methods: {
   //      updateSearch(val) {
   //          this.enteredSearchTerm = val;
   //      },
   //  },
   //  watch: {
   //      enteredSearchTerm(val) {
   //          setTimeout(() => {
   //              if (val === this.enteredSearchTerm) {
   //                  this.activeSearchTerm = val;
   //              }
   //          }, 300);
   //      },
   //      user() {
   //          this.enteredSearchTerm = '';
   //      },
   //  },
};
</script>

<style scoped>
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
</style>
