<template>
    <div>
        <life-hooks :age="ageApp" v-if="unmountedState"></life-hooks>
        <button @click="unmount()">
            {{ !unmountedState ? 'mount' : 'unmount' }}
        </button>
        <button @click="update()">update</button>
    </div>
</template>

<script>
// here you can see the order of the lessons, if ever need remindin'
// import ReplaceDataWithRef from './lessons/ReplaceDataWithRef.vue';
// import ReactiveObjects from './lessons/ReactiveObjects.vue'; //Lesson continues here.
// import ReactivityDeepDive from './lessons/ReactivityDeepDive.vue'; //Next Lesson.
// import MethodsToFunctions from './lessons/MethodsToFunctions.vue'; //Next Lesson. // import ComputedProperties from './lessons/ComputedProperties.vue'
// import TwoWayBinding from './lessons/TemplateRefs.vue';
// import TemplateRefs from './lessons/TemplateRefs.vue';
// import ComponentsAndProps from './lessons/ComponentsAndProps.vue'; // inside this component and UserData find more notes on Components, Props, context, emits, and much more, so I don't create another component just for that.
// import ProvideInject from './components/ProvideInject.vue';
import LifeHooks from './lessons/LifeHooks.vue';
import { ref } from 'vue';
export default {
    components: {
        //ReplaceDataWithRef
        // ReactiveObjects,
        // ReactivityDeepDive,
        // MethodsToFunctions
        // ComputedProperties,
        //TwoWayBinding
        // TemplateRefs
        LifeHooks,
    },
    setup() {
        const unmountedState = ref(true);
        const ageApp = ref(5);
        function update() {
            ageApp.value++;
        }
        function unmount() {
            unmountedState.value = !unmountedState.value;
        }
        return {
            ageApp,
            update,
            unmount,
            unmountedState,
        };
    },
};
</script>

<style>
* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

.container {
    margin: 3rem auto;
    max-width: 30rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;
    text-align: center;
}
</style>
