<template>
  <div class="composition-main">
    <h1>Composition API:</h1>
    <h2>My Course Goal</h2>
    <p>
      Visibility State: <strong> {{ refGoalState }} </strong>
    </p>
    <div class="h3-placeholder">
      <h3 v-if="showGoal.visibility">{{ goal.goal }}</h3>
    </div>
    <button @click="toggleGoal">
      {{ showGoal.visibility ? 'Hide' : 'Show' }} Goal
    </button>
  </div>
</template>

<script>
import { ref, reactive, toRefs } from 'vue';
export default {
  setup() {
    const courseGoal = ref({
      goal: 'To know Vue.',
      importance: 10
    });
    const showGoal = reactive({
      visibility: true,
      id: 1
    });
    const goalRefs = toRefs(showGoal);

    function toggleGoal() {
      showGoal.visibility = !showGoal.visibility;
    }

    return {
      goal: courseGoal,
      showGoal: showGoal,
      toggleGoal: toggleGoal,
      refGoalState: goalRefs.visibility
    };
  }
};
</script>

<style scoped></style>

<!-- Task 1: Output your main course goal with help of the composition API -->
<!-- Don't hardcode it into the template, instead hardcode it into the JS code -->

<!-- Task 2: Toggle (show/ hide) the goal with help of the button  -->

<!-- Task 3: Manage data in three ways -->
<!-- => Separate refs -->
<!-- => Ref Object -->
<!-- => Reactive Object -->
<!-- Task 4: Also solve the assignment with the Options API -->
