<template>
  <div class="composition-main">
    <h1>Options API:</h1>
    <h2>My Course Goal</h2>
    <p>
      Visibility State: <strong> {{ showGoal.visibility }} </strong>
    </p>
    <div class="h3-placeholder">
      <h3 v-if="showGoal.visibility">{{ courseGoal.goal }}</h3>
    </div>
    <button @click="toggleGoal">
      {{ showGoal.visibility ? 'Hide' : 'Show' }} Goal
    </button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      courseGoal: { goal: 'To know Vue.', importance: 10 },
      showGoal: { visibility: true, id: 1 }
    };
  },
  methods: {
    toggleGoal() {
      this.showGoal.visibility = !this.showGoal.visibility;
    }
  }
};
</script>

<style scoped></style>

<!-- Task 1: Output your main course goal with help of the composition API -->
<!-- Don't hardcode it into the template, instead hardcode it into the JS code -->

<!-- Task 2: Toggle (show/ hide) the goal with help of the button  -->

<!-- Task 3: Manage data in three ways -->
<!-- => Separate refs -->
<!-- => Ref Object -->
<!-- => Reactive Object -->
<!-- Task 4: Also solve the assignment with the Options API -->
