<template>
  <div class="container">
    <composition class="composition"></composition>
    <options class="options"></options>
  </div>
  <p>
    These 2 boxes work the same, it's just built with different syntax, and
    rules.
  </p>
  <p>Another Note: Both are built and meant for Vue3.</p>
</template>

<script>
import Composition from './components/Composition.vue';
import Options from './components/Options.vue';
export default {
  components: {
    Composition,
    Options
  }
};
</script>

<style>
* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: row;
}
.composition,
.options {
  border: 1px #d3d3d3 solid;
  padding: 30px;
  min-height: 205px;
}

h1 {
  font-size: 13px;
  padding: 5px 0;
  text-decoration: underline;
  border: 1px solid #d3d3d3;
}

h2 {
  padding: 5px;
}

h3 {
  padding: 10px 0;
  font-size: 14px;
}
.h3-placeholder {
  min-height: 37px;
}
button {
  padding: 5px;
  font-size: 20px;
}
body {
  text-align: center;
}
p {
  color: #686868;
  padding-top: 5px;
  font-size: 13px;
}
</style>

<!-- Task 1: Output your main course goal with help of the composition API -->
<!-- Don't hardcode it into the template, instead hardcode it into the JS code -->

<!-- Task 2: Toggle (show/ hide) the goal with help of the button  -->

<!-- Task 3: Manage data in three ways -->
<!-- => Separate refs -->
<!-- => Ref Object -->
<!-- => Reactive Object -->
<!-- Task 4: Also solve the assignment with the Options API -->
