<template>
  <section class="container">
    <h2>First: {{ firstName }}</h2>
    <h2>Last: {{ lastName }}</h2>
    <h3>Whole Name: {{ uName }}</h3>
    <!--  <h4>{{ userRef.number }}</h4>
    <button @click="setAge">Change Age</button>
 -->
    <div>
      <input type="text" placeholder="First Name" @input="setFirstName" />
      <input type="text" placeholder="Last Name" @input="setLastName" />
    </div>
  </section>
</template>

<script>
import { ref, computed } from 'vue';
export default {
  setup() {
    const firstName = ref('');
    const lastName = ref('');

    const uName = computed(function() {
      // you should import computed in order to use this. It takes function between the () and you store the value in a constant so you can read it from a template.
      return firstName.value + ' ' + lastName.value; // it has to return a value as well as normal computed: {}
    }); // you  can access uName.value, but it's read only. You can read the value but never set new value directly. so trying to set uName = 'something' will not be possible. Same as options API.

    function setLastName(event) {
      lastName.value = event.target.value;
    }
    function setFirstName(event) {
      firstName.value = event.target.value;
    }
    return { firstName, lastName, setFirstName, setLastName, uName };
  }
};
</script>

<style>
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.container {
  margin: 3rem auto;
  max-width: 30rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  text-align: center;
}
</style>
