<template>
  <section class="container">
    <user-data :first-name="firstName" :last-name="lastName"></user-data>
    <!-- More notes and details on props and stuff around composition API in the /components/UserData.vue -->
    <div>
      <input type="text" placeholder="First Name" v-model="firstName" />
      <input
        @keydown.enter="setLastName"
        type="text"
        placeholder="Last Name"
        ref="lastNameInput"
      />
      <button @click="setLastName">Set Last Name</button>
    </div>
  </section>
</template>

<script>
import userData from './../components/UserData.vue';
import { ref, computed } from 'vue';
export default {
  components: { userData },
  setup() {
    const firstName = ref('');
    const lastName = ref('');
    const lastNameInput = ref(null); // With Options API we are usually binding inputs and stuff from our template into our data() method, that stores the value of our inputs. Whether it's a v-model or ref or whatever else. Here we don't really use data(){} to define our data properties, but instead we are defining them as ref/reaactive things in our setup() method, as anything else. Above lastNameInput is the example for that.

    const uName = computed(function() {
      return firstName.value + ' ' + lastName.value;
    });

    function setLastName() {
      lastName.value = lastNameInput.value.value;
      // the first .value is getting access to that ref object we created as per usual with ref(). So in order to access a ref value, we gotta specify that with .value in our setup() method, right? Well then in that value, we store aanother value that our template ref stores. So back in days when we learned about ref instead of v-model in our template, we had to access it with varluableName.value in our script tags (methods, etc). Well that value is stored now in our ref value, which in turn gives us 2 values chained. One is the ref from our setup method, and in that value, is stored the value of the template ref. Easy :D
    }
    return {
      firstName,
      lastName,
      setLastName,
      uName,
      lastNameInput
    };
  }
};
</script>

<style>
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.container {
  margin: 3rem auto;
  max-width: 30rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  text-align: center;
}
</style>
