<template>
    <div>
        <h2>{{ age }}</h2>
    </div>
</template>

<script>
import {
    onBeforeMount,
    onMounted,
    onBeforeUpdate,
    onUpdated,
    onBeforeUnmount,
    onUnmounted,
} from 'vue';
export default {
    components: {},
    props: ['age'],
    setup() {
        //onBeforeCreate and onCreate cannot be used with  componsition API, because that is exactly
        // when the setup method is being called out.

        onBeforeMount(function() { //Before the component is mounted.
        console.log('onBeforeMount')})
        onMounted(function() {
        console.log('onMounted')}) //After is mounted
        onBeforeUpdate(function() {
        console.log('onBeforeUpdate')}) // Whenever we do updates to DOM.
        onUpdated(function() {
        console.log('onUpdated')}) // After
        onBeforeUnmount(function() {
        console.log('onBeforeUnmount')}) // Whenever component is unmounted (with v-if or otherwise)
        onUnmounted(function() {
        console.log('onUnmounted')}) // after it's done.

        return {
        };
    },
    /*  provide() {
 return { age: this.age; }
  } - with Options API if we want to provide something, we simply use the provide method, to child elements, whatever data we want to provide globally to all of them. In our case it's super simple project so no need of providing anything, but for the sake of learning and training, lets use it so we see how it works. */
};
</script>

<style>
* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

.container {
    margin: 3rem auto;
    max-width: 30rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;
    text-align: center;
}
</style>
