<template>
  <section class="container">
    <h2>{{ user.name }}</h2>
    <h3>{{ user.age }}</h3>
    <h4>{{ userRef.number }}</h4>
    <button @click="setAge">Change Age</button>
  </section>
</template>

<script>
import { reactive, ref } from 'vue';
export default {
  setup() {
    const user = reactive({
      name: 'Jane',
      age: '32'
    });

    const userRef = ref({
      number: 5
    });
    // setTimeout(() => {
    //   (user.name = 'random2'), (user.age = '9999');
    // }, 3500);

    function setNewReactiveData() {
      user.age++; // this works with reactive
      userRef.value.number++; // and with refs as well.
    }
    return { user: user, setAge: setNewReactiveData, userRef: userRef };
    // we are not executing the function when we expose it this way, we are just setting up a pointer.
  }
};
</script>

<style>
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.container {
  margin: 3rem auto;
  max-width: 30rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  text-align: center;
}
</style>
