<template>
  <section class="container">
    <h3>Test:</h3>
    <h4>{{ name }}</h4>
  </section>
</template>

<script>
import { reactive, ref, isReactive, isRef, toRefs } from 'vue';
export default {
  setup() {
    const userReactive = reactive({
      name: 'Jane',
      age: '32'
    });
    const userRef = ref({
      name: 'Jane',
      age: '32'
    });
    const nonRefValue = userRef.value.name;

    console.log(userRef, userReactive);
    console.log(isRef(userRef), isReactive(userReactive)); // this simply shows if the value we are getting is reactive, or it's ref, and whether it will update on changes, and all the good stuff with reactive things. It has an import that has to be done. [returns: true, true]
    console.log(isRef(nonRefValue)); // this returns false, even tho we are taking the VALUE out of a Ref object.

    // IMPORTANT: We can take all the values out of an object, and make them Refs, which in turn makes even the values of that object refs, and reactive. By importing the toRef function, we can do such things. Here is an example:
    const userNoRef = reactive({
      name: 'noreact',
      age: 35
    });
    console.log(isRef(userNoRef)); //this returns false because userNoRef is just a normal variable, without ref or anything.
    const userReffed = toRefs(userNoRef); // using toRef function to transform the userNoRef to Ref, and save it to userReffed
    console.log(isRef(userReffed.name)); // this returns true. - Since we have made that to Ref, now we can return the actual values, as reactive.
    console.log(userReffed.name);
    setTimeout(() => {
      userNoRef.name = 'test'; // AHAAA so it doesn't work if you do userReffed.name = 'test'. You have to actually update the original object that wasn't a ref, in order to update the value in the DOM for some reason. You passing the Reffed values in the return statement, but if you updatin' you wanna update the original object that we transformed from reactive to ref. God Damn, i wasted some time debugin' here.
    }, 4000);
    return { name: userReffed.name };
  }
};
// So why we are sending the whole object to the return object? Because when we return the value's instead of the whole object, Vue thinks that the important things are the values, and it's waiting for a change to update the DOM. But since the values themselves are not reactive, but the actual objects, Vue doesn'know that it has to update them, therefore it never updates, as we can see in App.vue
// When we are sending the whole object as return value, ref and reactive have proxies and handles in the background that help the object that is wrapped with them, to update whenever anything changes, making the object itself reactive, but not the values.
// When we are sending the values directly in return {name: user.name, age: user.age} we are sending value snapshots at that moment, and those values are just regular string and number. If we print those values in console, you'll see that they are just Jane, 32. Nothing special about them. It's just a value snapshot.
// On the other hand, when we send the object, it comes wrapped all nice in some proxies, and handlers, etc, and whenever the value updates, it is programmed to send back alert of the value update, compared to that string 'Jane' that we are passing as name: user.name.
</script>

<style>
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.container {
  margin: 3rem auto;
  max-width: 30rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  text-align: center;
}
</style>
