<template>
  <section class="container">
    <h2>{{ user.name }}</h2>
    <h3>{{ user.age }}</h3>
  </section>
</template>

<script>
import { reactive } from 'vue'; //if we working with objects, instead of passing ref, we can also use reactive.
// While ref works with any data, reactive is made to work ONLY with objects. The difference is, you don't have to use .value anymore if using reactive. It's the same as working JUST with that object, without any wrappers, like ref has.
export default {
  setup() {
    const user = reactive({
      name: 'Jane',
      age: '32'
    });
    setTimeout(() => {
      (user.name = 'random2'), (user.age = '9999');
    }, 3500); // you see instead of using user.value.name we just use user.name. Which is a lot more convenient.
    return { user: user };
  }
};
</script>

<style>
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.container {
  margin: 3rem auto;
  max-width: 30rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  text-align: center;
}
</style>
