<template>
  <section class="container">
    <methods-to-functions></methods-to-functions>
  </section>
</template>

<script>
// import ReactiveObjects from './lessons/ReactiveObjects.vue'; //Lesson continues here.
// import ReactivityDeepDive from './lessons/ReactivityDeepDive.vue'; //Next Lesson.
import MethodsToFunctions from './lessons/MethodsToFunctions.vue'; //Next Lesson.
import { ref } from 'vue';
export default {
  components: {
    // ReactiveObjects,
    // ReactivityDeepDive,
    MethodsToFunctions
  },
  setup() {
    // const uName = ref('Jane');
    const uName = ref('Jane');
    // So basically you don't have to use ref, you can just do let uName = 'Jane', and return that to the DOM, but if you want reactivity, and update the DOM whenever the uName variable gets new value, you need ref. Also to avoid confusion, uName is stored as constant, and that is all good, since we'll never store new value directly into the constant. That is also another benefit of using ref... because ref gives us the option to access .value of the variable, and update that instead, as we can demonstrate below with the timer. So when we do ref('Jane') there, we are actually updating the value of that ref object we saved in our uName variable. Also another thing is that we don't have to use userName.value in our template interpolation. When we pass in the return statement a ref object, it will drill into the object, and extract the value for us, and pass it as value.
    setTimeout(function() {
      uName.value = 'Max';
    }, 2000);

    const uAge = ref(31);

    /* Lesson 2: Creating objects. */
    const user = ref({
      name: 'Maximilian',
      age: 31
    });

    console.log(user); // If we do this, we will see that ref wraps the object we need in a wrapper, that has getters and setters, and it has a value field where our data is stored. Using reactive (in the ReactiveObjects.vue example), we don't have the wrapper, no extra setters and getters, we just have a proxy, that has our value stored in an object, which is a lot more convenient when working with objects.

    setTimeout(() => {
      user.value.name = 'random';
    }, 3000); // all things above and below considered, this is how you change the value, if you want that value to be reactive and update in the DOM as well.
    return {
      //objectUser: user.value.name, - while you can access the properties like this, and use them in the DOM, these values are not reactive. The DOM won't get updated if we send them these values like this. Ref, indeed, creates an object that is reactive, but the value's name and age, are not reactive. They are just number and string, regular values. Vue won't pick up the changes of these, if updated with timer or something.
      //objectAge: user.value.age,
      userObject: user, // we have to pass the RAW ref object that is reactive.
      userName: uName,
      age: uAge
    };
  }
  // data() {
  //   return {
  //     userName: 'Maximilian',
  //   };
  // },
};
</script>

<style>
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.container {
  margin: 3rem auto;
  max-width: 30rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  text-align: center;
}
</style>
