<template>
  <section class="container">
    <h2>First: {{ firstName }}</h2>
    <h2>Last: {{ lastName }}</h2>
    <h3>Whole Name: {{ uName }}</h3>
    <button @click="watcherSwap">Click</button>
    <div>
      <input type="text" placeholder="First Name" v-model="firstName" />
      <input type="text" placeholder="Last Name" v-model="lastName" />
      <!-- So instead of listening to @input for typing reactivity we can still use v-model like Options API to a value that is reactive, like ref or reactive, and it will update the DOM as you type. Also even if working with ref, same as before you don't update the .value, but the full ref instead. because that is the actual reactive object that needs updating, not the string or number or something stored into value. -->
    </div>
  </section>
</template>

<script>
import { ref, computed, watch } from 'vue';
export default {
  setup() {
    const firstName = ref('');
    const lastName = ref('');

    const watcherCheck = ref('');
    const uName = computed(function() {
      return firstName.value + ' ' + lastName.value;
    });

    //    watch(firstName, function(newV, oldV) {
    //      console.log(newV, oldV);
    // So the difference between watchers on Options and Composition API, is that we are setting here in the watch() method (that we have to import first in order to work) the dependancy (value that should be watched for change), as first argument to the function, and then the actual function that should be executed whenever the value of the dependancy changes. Also in the function by default we are getting the newValue, and the oldValue of the dependancy, to use it in the function, and new value as first argument, and old as second, same as in the Options API. Second value can be ommitted (the old value) if it's not used.
    //   });

    // The above is commented because with Composition API you can set more dependencies, and old/new values. Here is how to do it:
    watch([firstName, lastName], function(newValue, oldValue) {
      //      console.log('New: ' + newValue);
      //      console.log('Old :' + oldValue);
      console.log('New First: ' + newValue[0]);
      console.log('New Last: ' + newValue[1]);
      console.log('Old: ' + oldValue);
    });

    // So it's creating array of values for you, that you can track with one function, instead of creating like 5 different watchers for 5 values. It's also easy to access them through their index as you can see above. If you know that the name is the first dependancy you set, you can access the new / old value with newValue[0], the second with newValue[1] etc.
    // it's also very easy to programatically access their values with like for loops, passing the index of the loop as index in the square brackets, and much more.
    // the other great thing is, that now you can have more dependancies / watch function, means you can fire that watcher with as many arguments as you want. Something got changed? no problem.
    // OFC you can still add more watchers, instead of one, by defining another watchers, specificaly for that other value you need to track, like this one here:
    watch(watcherCheck, function(newValue) {
      console.log(newValue);
    });
    function watcherSwap() {
      watcherCheck.value = !watcherCheck.value;
    }
    // As can be seen here, by clicking the button, we are changing the value of watcherCheck variable, and the watcher is getting fired, and console log also being printed in the console, which means we can create infinite amount of watchers this way, too, the BIG difference is that we can set multiple values with composition API, that can fire the watcher, instead of one like in Options API with watch: { valueToTrack(newValue) { console.log(newValue)}}. For this, and other things Composition API is MUCH more flexible and suitable to work with in bigger projects.
    return { firstName, lastName, uName, watcherSwap };
  }
};
</script>

<style>
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.container {
  margin: 3rem auto;
  max-width: 30rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  text-align: center;
}
</style>
