<template>
  <div>
    <user-data first-name="John" last-name="Doe"></user-data>
    <h2>{{ age }}</h2>
  </div>
</template>

<script>
import UserData from './UserData.vue'; // we have imported userData here just so we can make that component to be child of this, so we can provide data to it. It's completely redundant, but I had to do it to test a point. To verify that it works, import this into App.vue, and check the Console in dev tools. Note: This is btw, completely wrong way of doing it and we might get some warnings (Injection userAge not found blabla) in the console, but just to prove a point with it, you can see that the userAge value is printed in the console log and on the screen under John Doe.
import { provide } from 'vue';
export default {
  components: {
    UserData
  },
  setup() {
    const age = 25;
    provide('userAge', age); // so we have imported this into App.vue (which is parent of this) just to see how provide/inject works, but this is 100% uneccesary in this size of a project, and it's a lot better to just send that one value through props.
    return {
      age
    };
  }
  /*  provide() {
 return { age: this.age; }
  } - with Options API if we want to provide something, we simply use the provide method, to child elements, whatever data we want to provide globally to all of them. In our case it's super simple project so no need of providing anything, but for the sake of learning and training, lets use it so we see how it works. */
};
</script>

<style>
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.container {
  margin: 3rem auto;
  max-width: 30rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  text-align: center;
}
</style>
