<template>
  <div>
    <h2>{{ userName }}</h2>
  </div>
</template>

<script>
import { computed, inject } from 'vue';
export default {
  props: ['firstName', 'lastName'],
  // so in order to access the props, we can't use this because in composition API is not available, and it's litteraly un-usable. However, when we are creating the setup method, you can pass 2 parameters as arguments, one is props. Note: You can name the argument however you like. Props, properties, donkey, it doesn't matter. For consistency, we'll stick to props here.
  setup(props, context) {
    const userName = computed(function() {
      return props.firstName + ' ' + props.lastName;
    });
    console.log(context);

    const age = inject('userAge'); // So here is how to inject stuffs. We just use the handle that we've given to the data we provided in the parent component of the "injector" and it is provided without anything special.
    console.log('Provided Age: ' + age); // After running the program, we'll notice that this prints out the age 25 that we defined and provided in ProvideInject.vue

    // age.value = 35; IMPORTANT NOTE on injections! You should never change the value of the injected data directly like this. It will work, but it can have unpredicted results in the end. You should ALWAYS change the value where you provide it.
    // To elaborate a bit more why i think that is... is simply because here you inject a raw number. When you update it here, it won't get updated in the parent. And usually when using provide/inject, you do that so you can use the data you provide in multiple components, otherwise props will do the job just fine. Now, if you change the value of age here, it will indeed change HERE. Not in the other components where that is injected, therefore it will end up giving you completely unpredicted values and results around. If you want to change the data, it's probably best to use emit event, where you update the value that is provided, to it reflects everywhere. Same as you would do in the Options API.

    // this.$emit() - this won't work.

    // context.emit('event-name', payload); //it works exactly the same as this.$emit().
    return {
      userName
    };
  }
  // computed: {
  //   userName() {
  //     this.firstName + ' ' + this.lastName;
  //   }
  // }
  // THere is absolutely nothing wrong on going composition and options API mixed around components. It's nothing bad about it and it's absolutely fine to do it. However just for the sake of trying out, lets do composition API approach to train.
};
</script>
